rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
    // Base data, it shouldn't be modified by anyone except admin
    match /matches/{matchId} {
      allow write: if false;
    }
    match /stadiums/{stadiumId} {
      allow write: if false;
    }
    match /teams/{teamId} {
      allow write: if false;
    }
    // Users can be seen by anyone, but can be modified only by the owner
    match /users/{userId} {
      allow write: if request.auth.uid == userId;
    }
    // Bets can only be read by creator and can only be modified if userId is correctly filled
    match /bets/{betId} {
      allow read: if request.auth.uid == resource.data.userId;
      allow write: if request.auth.uid == request.resource.data.userId;
    }
    // Groups can be updated only if name and joinKey are not altered
    // They can be created only with name of minimum size and joinKey of 10 chars
    match /groups/{groupsId} {
      allow update: if request.resource.data.name.size() == resource.data.name
        && request.resource.data.joinKey == resource.data.joinKey;
      allow create: if request.resource.data.name.size() >= 5 &&
        request.resource.data.joinKey.size() == 10 &&
        request.resource.data.createdBy == request.auth.uid;
      allow delete: if false;
    }
  }
}
