.group-ranking-card {
  margin-bottom: 10px;
  margin: auto;
  max-width: 800px;

  .own-ranking-row {
    background: #feefc4;
  }

  .bet-winner-beaten {
    height: 3em;
    opacity: 0.5;
  }

  .bet-winner-unveiled {
    height: 3em;
  }

  .bet-winner-unknown {
    height: 3em;
  }
}
