.app-toolbar {
  justify-content: space-between;
}

.app-content {
  padding-top: 70px;
  padding-bottom: 40px;
}

.app-toolbar-title {
  #imgMobile {
    display: none;
  }
  #imgTablette {
    display: none;
  }
  #imgDesktop {
    display: block;
  }

  @media all and (max-width: 949px) {
    #imgTablette {
      display: block;
    }
    #imgDesktop {
      display: none;
    }
  }
  @media all and (max-width: 669px) {
    #imgMobile {
      display: block;
    }

    #imgTablette {
      display: none;
    }
  }
}
