.join-group-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .join-group-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px 0px 10px 0px;
    padding: 0px;
  }
}
